# Change the name of this file to .env after updating it!

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=n8n-encryption-key
N8N_USER_MANAGEMENT_JWT_SECRET=n8n-user-management-jwt-secret
